<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{url_for('showCatalog')}}">
			<button class="btn btn-default" id="home">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Teams
			</button>
		</a>
	</div>
	<div class="col-md-6 text-right">
					{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">
				<button class="btn btn-default" id="login">
					<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Login
				</button>
			</a>
			{% else %}
			<a href="{{url_for('gdisconnect')}}">
				<button class="btn btn-default" id="logout">
					<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Logout
				</button>
			</a>
			{% endif %}

	</div>
</div>
